*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.navbar{
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    background-color: #ff6008;
    border-bottom: 2px solid white;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.navbar a:hover{
    color: #ff6008;
    background-color: white;
    transition: all 0.5s ease;
}


/* hero section */
/* https: //assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg */

.hero {
    /* border: solid; */
        height: 70vh;
        background-image: url(https://assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg);
        background-size: cover;
        background-position: center;
        background-position: top;

}
.hero .hero-content{
    /* border: solid; */
    
    height: 80%;
    
}

.hero-content{
    margin-left: 7vw;
    /* border: 2px solid ; */
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 35px;
    width: 60vw;

}

.hero-content h1{
    font-size: 60px;
    width: 73%;
}

.hero-content h4{
    font-size: 25px;
}

.hero-content p{
    width: 40%;
    color: #a8aaa8;
}

.hero-content button{
    width: 170px;
    height: 80PX;
    border-radius: 40PX;
    color: white;
    background-color: #ff6008;
    border: none;
}

.hero-content button:hover{
    color: #ff6008;
    background-color: white;
    border: 2px solid #ff6008;
}

/* main section  */

/* card section  */

#about{
    /* border: 2px solid; */
    height: 100vh;
    background-color: #f0cccf;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 65px;
}

.card{
    background-color: white;
    /* border: 2px solid; */
    width: 30%;
    height: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;

    border-radius: 5px;
}

.card h2{
    font-size: 45px;
    color: #f0cccf;
}

/* contact section */
.contact{
    margin-top: 65px;
    display: flex;
    height: 45vh;
}

.text-section{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 65px;
    justify-content: space-evenly;
}
.highlight-box{
    display: flex;
    flex-direction: column;
    background-color: #ff6008;
    justify-content: space-evenly;
    width: 45%;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* form section */
.form{
    width: 950px;
    margin: 0 auto;
    padding-top: 20px;
    
}
.form_wrapper{
    padding: 2rem 1rem;
    
    background-color: #f0cccf;

}
.form_wrapper h2{
    text-align:center ;
    color: orange;
    margin-bottom: 2rem;
    

}
.form_wrapper .form_group{
    display: flex;
    justify-content:space-between ;
}
 .form_group input{
    width: 49%;
    padding:16px ;
    margin-bottom:.5rem ;

}
.single-in input{
    width:100%

}

#form_button{
    width: 170px;
    height: 80PX;
    border-radius: 40PX;
    color: white;
    background-color: #ff6008;
    border: none;
    font-size: 25px;
}

#form_button:hover{
    color: #ff6008;
    background-color: white;
    border: 2px solid #ff6008;
}